.news-article-item-list .list {
    list-style: none;
    padding: 0;
}

.news-article-item-list .list li {
    padding-left: 2em;
}

.news-article-item-list .list li:nth-child(even) {
    background-color: #e9eff0;
}

.news-article-item-list .list li:nth-child(odd) {
    background-color: #f3f7f8;
}


