.news-article {
    display: flex;
    float: left;
    min-width: 56em;
}

.news-article_image {
    margin: auto 0 auto 0;
}

.news-article_image img {
    width: 13em;
    height: 8em;
}

.news-article_details_link {
    margin-top: .5em;
}

.news-article_details {
    margin: 1em;
    height: 10em;
}


.news-article_details_header {
    display: flex;
    flex-direction: column;
}

.news-article_details_header_title {
    font-weight: bold;
}

.news-article_details_description {
     text-align: left;
 }

.news-article_details_description p {
    margin: 0.5em 0 0.5em 0;
}

